body {
    background: linear-gradient(#ffffff 0%, #97e00f 40%, #00e239 100%);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.profileimage{
    width: 200px;
}
.profile h2 {
    color: white;
}
.profile h4 {
    color: white;
    transform: translateY(-5px);
}
.Biodata {
    background: linear-gradient(#ffffff 0%, #97e00f 40%, #00e239 100%);
    padding-top: 65px;
    .row {
        padding: 0px 20px;
    }
}
.footer {
    background-color: #00e239;
    padding-bottom: 20px;
}
.Contact a {
    color: black;
    font-size: 30px
}
.watermark {
    padding-top: 30px;
}